.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.infected {
  border-bottom: 20px solid yellow;
}

.recovered{
  border-bottom: 20px solid green;
}


@media (prefers-reduced-motion: no-preference) {
  .deaths {
    animation: Border-blink infinite 0.5s linear;
  }
}

@keyframes Border-blink {
  from {
    border:3px solid green;
  }
  to {
  border:3px solid red;
  }
}