body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 150px;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .image {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 50%;
  }
}
